{% load staticfiles %}
{% load selectable_anchor %}
<!DOCTYPE html>
    <html lang="en">
        <head>
        <meta charset="utf-8">
        <title>{% block title %}RFeed{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Le styles -->
        <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
        <style>
            body {
                padding-top: 60px;
            }
        </style>
        <link href="{% static "css/bootstrap-responsive.css" %}" rel="stylesheet">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="../assets/js/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top active">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="{% url principal %}">RFeed</a>
                    <div class="nav-collapse">
                        <ul class="nav">
                            {% selectable_anchor "pedidos" Pedidos %}
                            {% selectable_anchor "ingredientes" Ingredientes %}
                        </ul>
                    </div>

                    {% if not login_page %}
                    <div class="pull-right">
                        <ul class="nav">
                            {% if user.is_authenticated %}
                            <li><p class="navbar-text">{{ user.username }}</p></li>
                            {% else %}
                            <li><p class="navbar-text">Você não está logado</p></li>
                            {% endif %}
                        </ul>
                        {% if user.is_authenticated %}
                        <a class="btn btn-danger" href="{% url logout %}">Logout</a>
                        {% else %}
                        <a class="btn btn-success" href="{% url login %}">Login</a>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="container">
            {% block content %}
            {% endblock %}
        </div> <!-- /container -->

        <script src="{% static "js/jquery.js" %}"></script>
        <script src="{% static "js/bootstrap.js" %}"></script>

        {% block javascript %}{% endblock %}
    </body>
</html>
