<form id="modal_form" class="form-horizontal" method="post" action="{% url pedidos %}">
    {% csrf_token %}
    <div class="control-group">
        <label class="control-label" for="id_mesa">Mesa</label>
        <div class="controls">
            {{ form.mesa }}
        </div>
    </div>
    <div id="error_mesa" class="modal_errors"></div>
    
    <div class="control-group">
        <label class="control-label" for="id_status">Status</label>
        <div class="controls">
            {{ form.status }}
        </div>
    </div>
    <div id="error_status" class="modal_errors"></div>
    
    <div class="control-group">
        <label class="control-label" for="id_itens">Itens</label>
        <div class="controls">
            <a id="button_add_item" class="btn btn-success" href="#">Adicionar</a>
        </div>
    </div>

    <div id="form_itens"></div>  
</form>
