<form id="modal_form" class="form-horizontal" method="post" action="{% url ingredientes %}">
    {% csrf_token %}
    <div class="control-group">
        <label class="control-label" for="id_nome">Nome do ingrediente</label>
        <div class="controls">
            <input type="text" id="id_nome" name="nome" placeholder="Ingrediente" maxlength="100" 
            {% if value %} value="{{ value }}"{% endif %}>
        </div>
    </div>
    <div id="error_ingrediente" class="modal_errors"></div>
    <div class="control-group">
        <label class="control-label" for="id_balanca">Balança</label>
        <div class="controls">
            {{ form.balanca }}
        </div>
    </div>
    <div id="error_balanca" class="modal_errors"></div>

    <!-- <div class="control-group">
        <label class="control-label" for="id_teste">Teste</label>
        <div class="controls">
            <input type="text" id="id_teste" name="teste"  maxlength="100">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="id_teste2">Teste</label>
        <div class="controls">
            <input type="text" id="id_teste2" name="teste"  maxlength="100">
        </div>
    </div> -->
</form>