<div class="control-group" id="form_item_{{ number }}">
    <div class="controls form-inline">
        <input class="input-mini" type="text" id="id_quantidade_{{ number }}" name="quantidade" placeholder="Qtde."  maxlength="100" {% if form.quantidade.value %}value="{{ form.quantidade.value }}{% endif %}">
        {{ form.item }}
        <a class="button_rm_item btn btn-small btn-danger" href="#">Remover</a>
    </div>
</div>
<div id="error_item" class="modal_errors"></div>