{% extends "rfeed/base.html" %}
{% load staticfiles %}

{% block content %}
<br />
<div class="row">
    <div class="span4 offset4" style="text-align: center">
        <h2>Gerenciar ingredientes</h2>
    </div>
</div>
<br />
<div class="row">
    <div class="span4 offset4" style="text-align: center">
        <a id="button_add_ingrediente" class="btn btn-success btn-large btn-block">Adicionar ingrediente</a>
    </div>
</div>
<br />
<div class="row">
    <div class="span10 offset1">
        <table class="table table-hover table-bordered">
            <thead>
                <tr style="background-color: #d9edf7;">
                    <td style="display: none;"></td>
                    <td><strong>Nome do ingrediente</strong></td>
                    <td><strong>Balança</strong></td>
                    <td><strong>Remover</strong></td>
                </tr>
            </thead>
            <tbody>
                {% for ingrediente in ingredientes %}
                <tr>
                    <td style="display: none;" class="pk">{{  ingrediente.pk }}</td>
                    <td class="edit">{{ ingrediente.nome }}</td>
                    <td class="edit">{{ ingrediente.balanca }}</td>
                    <td>
                        <a class="button_rm_ingrediente btn btn-danger btn-mini btn-block" href="#">Remover</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br />
</div>

<!-- Janela de adicionar ingrediente -->
<div id="modal_container" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="modal_label">Adicionar ingrediente</h3>
    </div>
    <div id="modal_form_container" class="modal-body"></div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
        <button id="button_modal_confirm" class="btn btn-primary">Adicionar</button>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static "js/gerenciar_ingredientes.js" %}"></script>

<script type="text/javascript">
    $(window).load(function () {
        pagina = new rfeed.GerenciarIngredientes("{% url ingredientes %}");
    });
</script>
{% endblock %}