{% extends "rfeed/base.html" %}

{% block content %}
<div class="row">
    <div class="span12">
        {% if form.errors %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Atenção!</strong> {{ form.non_field_errors.0 }}
        </div>
        {% endif %}

        <form class="form-horizontal" method="post" action="{% url login %}">
            {% csrf_token %}
            <div class="control-group">
                <label class="control-label" for="id_username">Usuário</label>
                <div class="controls">
                    <input type="text" id="id_username" name="username" placeholder="Usuário" maxlength="30">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="id_password">Password</label>
                <div class="controls">
                    <input type="password" id="id_password" name="password" placeholder="Senha">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-success">Efetuar login</button>
                    <input type="hidden" name="next" value="{{ next }}" />
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block javascript %}{% endblock %}