{% extends "rfeed/base.html" %}
{% load staticfiles %}

{% block content %}
<br />

<div class="row">
    <div class="span4 offset4" style="text-align: center">
        <h2>Gerenciar pedidos</h2>
    </div>
</div>

<br />

<div class="row">
    <div class="span4 offset4" style="text-align: center">
        <a id="button_add_pedido" class="btn btn-success btn-large btn-block">Adicionar pedido</a>
    </div>
</div>

<br />

<div class="row">
    <div class="span10 offset1">
        <table class="table table-hover table-bordered">
            <thead>
                <tr style="background-color: #d9edf7;">
                    <td><strong># Pedido</strong></td>
                    <td><strong>Mesa</strong></td>
                    <td><strong>Itens</strong></td>
                    <td><strong>Hora</strong></td>
                    <td><strong>Status</strong></td>
                    <td><strong>Remover</strong></td>
                </tr>
            </thead>
            <tbody>
                {% for pedido in pedidos %}
                <tr>
                    <td class="edit">#<span class="pk">{{ pedido.pk }}</span></td>
                    <td class="edit">{{ pedido.mesa }}</td>
                    <td class="edit">
                        <table class="table table-striped table-condensed">
                            <tbody>
                                {% for item in pedido.itensporpedido_set.all %}
                                <tr><td>
                                    {{ item }}
                                </td></tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                    <td class="edit">{{ pedido.data_hora }}</td>
                    <td>{{ pedido.status_selector }}</td>
                    <td>
                        <a class="button_rm_pedido btn btn-danger btn-mini btn-block" href="#">Remover</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br />
</div>

<!-- Janela de adicionar pedido -->
<div id="modal_container" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="modal_label">Adicionar pedido</h3>
    </div>
    <div id="modal_form_container" class="modal-body"></div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
        <button id="button_modal_confirm" class="btn btn-primary">Adicionar</button>
    </div>
</div>

<div class="row">
    <div class="span10 offset1">
        <div id="errors"></div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static "js/gerenciar_pedidos.js" %}"></script>

<script type="text/javascript">
    $(window).load(function () {
        pagina = new rfeed.GerenciarPedidos("{% url pedidos %}");
    });
</script>
{% endblock %}