{% extends "rfeed/base.html" %}
{% block content %}
<h1>Bem vindo ao RFeed</h1>
<br /><br />
<div class="row">
    {% if user.is_authenticated %}
    <div class="span10 offset1">
        <table class="table">
            <thead>
                <tr>
                    <th>Usuário</th>
                    <th>Função</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ user.username }}</td>
                    <td>
                        {% if user.groups.exists %}
                        {{ user.groups.all.0 }}
                        {% else %}
                        Funcionário
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="span4 offset4">
        <h5>Você precisa fazer o login para ter acesso ao sistema</h5>
        <a class="btn btn-success btn-large btn-block" href="{% url login %}">Login</a>
    </div>
    {% endif %}
</div>
{% endblock %}